@mixin nav1 ($color)  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color;
  position: fixed;
}

nav {
  @include nav1 (white);
    }
  
  nav ul li {
    padding: 8px 15px; }
  
  ul li a {
    display: inline-block;
    color: #080808;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent; }
  
  nav ul li a:hover {
    color: #d81b1b;
    border-bottom: 2px solid #d31919; }